* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --signature-yellow: rgba(239, 155, 40);
}

.authContainer {
    background-image: url('assets/Images/auth-bg.svg');
    background-size: cover;
    background-position: center center;
}

.form-container {
    background-color: rgba(49, 89, 81, 0.9);
}

.form-title {
    color: var(--signature-yellow);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-bottom: 36px;
}

.form-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    background-color: rgba(239, 155, 40);
}

.form-title::before {
    content: 'welcome to PMS';
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 12px;
    color: white;
}

.input-label {
    display: block;
    color: var(--signature-yellow);
    font-size: 14px;
}

.auth-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    padding: 4px 0 10px 0;
    color: white;
    background-color: transparent;
}

.auth-form input:focus {
    outline: none;
}

.form-btn {
    background-color: var(--signature-yellow);
    width: 95%;
    color: white;
    border-radius: 50px;
    padding: 14px 0;
    margin-top: 40px;
}

.form-btn:hover {
    background-color: rgba(239, 155, 40, 0.8);
    cursor: pointer;
}

.form-btn:disabled {
    background-color: rgba(239, 155, 40, 0.6);
    cursor: default;
}

.auth-form input:-webkit-autofill,
.auth-form input:-webkit-autofill:focus,
.auth-form input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px #24534a inset;
    -webkit-text-fill-color: white;
}

.ps-sidebar-container {
    background-color: transparent !important;
    /* height: 100% !important; */
}

.css-dip3t8 {
    background-color: none !important;
}


.ps-menu-button:hover {
    background-color: rgba(239, 155, 40, 0.3) !important;
    border-radius: 10px !important;
    color: rgba(239, 155, 40) !important;
}

.ps-sidebar-root{
    min-height: 100% !important;
    /* height: 100vh !important; */
}

.header {
    background-image: url(assets/Images/header-bg.jpg);
    background-size: 100% 233%;
    background-position: 0 -190px;
}

@media (max-width: 1000px) {
    .header {
        background-size: 100% 180%;
        background-position: 0 -60px; 
        /* background-position: center; */
    }
}

.header-overlay {
    background-color: #31595170;
    height: 100%;
}

html,body{
    min-width: fit-content ;
    min-height: fit-content;
    overflow-x: hidden;
}